<div class="home">
  <div class="frame-37">
    <img class="image-11" src="../../assets/image-11.png" />
  </div>
  <div class="content">
    <div class="convi-rtete-en-la-persona-que-quieres-ser">
      Conviértete en <br />la persona que <br />
      quieres ser.
    </div>
  
    <div class="buttons">
      <div class="frame-38">
        <div class="crear-una-cuenta">Crear una cuenta</div>
      </div>
      <div class="frame-39">
        <div class="iniciar-sesi-n">Iniciar sesión</div>
      </div>
    </div>
  
  </div>
  <div class="footer">
    <div class="frame-54">
      <div class="v-4-13-1">v4.13.1</div>
    </div>
  </div>
  <div class="frame-55"></div>
</div>
