<!-- src/app/tab3/tab3.page.html -->

<ion-content>
  <ion-grid class="frame-2">
    <img class="image-6" src="../../assets/image-6.png" />
    <ion-row>
      <ion-col size="12">
        <div class="bit-cora">Bitácora</div>
      </ion-col>
    </ion-row>
    <ion-row class="frame-24">
      <div class="ellipse-container">
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
      </div>
      <div class="lun">Lun</div>
      <div class="hoy">Mar</div>
      <div class="vie">Mier</div>
      <div class="lun">Jue</div>
      <div class="hoy">Vie</div>
      <div class="vie">Ayer</div>
      <div class="vie">Hoy</div>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="reconocimientos">Reconocimientos</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-grid class="frame-25">
          <ion-col size="8" class="retos-y-logros">Retos y logros</ion-col>
          <ion-col size="4">
            <ion-img class="image-8" src="../../assets/image-8.png"></ion-img>
          </ion-col>
        </ion-grid>
      </ion-col>
      <ion-col size="12">
        <div class="evaluaciones">Evaluaciones</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-grid class="frame-13">
          <ion-col size="12" class="nuevo">Nuevo</ion-col>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-grid class="frame-26">
          <ion-col size="8" class="monitorieo-emocional">Monitorieo emocional</ion-col>
          <ion-col size="4">
            <ion-img class="image-9" src="../../assets/image-9.png"></ion-img>
          </ion-col>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-grid class="frame-27">
          <ion-col size="8" class="buscar-un-terapeuta">Buscar un terapeuta</ion-col>
          <ion-col size="4">
            <ion-img class="image-10" src="../../assets/image-10.png"></ion-img>
          </ion-col>
        </ion-grid>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>

